pyTelegramBotApi==3.6.6
bs4==0.0.1
lxml==4.7.1
requests==2.27.1
asyncio==3.4.3
aiohttp==3.8.1
pandas==1.4.0
openpyxl==3.0.9
mysql-connector-python==8.0.28
matplotlib==3.5.1
flask_sqlalchemy==2.5.1
pytest==7.1.2